.home {
  background: rgb(85 235 188 / 62%);
  width: 100%;
  height: 100vh;
  position: relative;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.center {
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form input,
h3 {
  margin: 3px 0 1rem;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
}

button {
  align-self: flex-end;
}
